header.header
    div.container
        nav.menu
            ul.menu-itens
                li.menu-item 
                    a.menu-link(href="#") Home
                li.menu-item 
                    a.menu-link(href="#") Perfil
        div.profile
            img.profile-img(src="assets/img/robson-perfil-mini.jpg" alt="Robson Alves")
            span.profile-text Robson Alves