header.header
    div.container
        nav.menu
            ul.menu-itens
                li.menu-item 
                    a.menu-link(href="#") Perfil
                li.menu-item 
                    a.menu-link(href="#") Projects
        div.profile-header
            img.profile-header-img(src="assets/img/robson-perfil-mini.jpg" alt="Robson Alves")
            span.profile-text Robson Alves